<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrTRTu-O_ty06LrtSjeKr0YDzsVFT8Hj4</string>
	<key>GCM_SENDER_ID</key>
	<string>413820758574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-c28bc</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c28bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413820758574:ios:a59af2cd322ad3f8f24dbf</string>
</dict>
</plist>